    <div class="container">
        <h2>Контакти</h2>
        <p>Якщо у вас є питання, пропозиції щодо покращення наших сервісів або інші пропозиції співробітництва, будемо раді отримати від вас повідомлення:</p>
        
        <!-- Контактна інформація -->
        <h3>Контактна інформація:</h3>
        <ul>
            <li>Телефон: <a href="tel:0966909645">0966909645</a></li>
            <li>Email: <a href="mailto:halimon.alexandr@gmail.com">halimon.alexandr@gmail.com</a></li>
        </ul>
    </div>
