[Unit]
Description=Telegram bot 'Town Wars'
After=syslog.target
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bus-service/bus_service
Environment="PATH=/home/ubuntu/bus-service/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/ubuntu/bus-service/venv/bin/python3 /home/ubuntu/bus-service/bus_service/bus_telegram_bot.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
